---
import MicroBlog from "./MicroBlog.astro"
// import MeLogs from "./MeLogs.astro"
---

<div class="w-full lg:h-fit lg:col-span-2 flex flex-col gap-5">
    <!-- Micro blog -->
    <MicroBlog/>
    
    <!-- Personal git log -->
    <!-- <MeLogs/> -->
</div>